div.boxxx{
  background-color: rgb(154, 247, 216);
  height: 325px;
  width: 350;
  text-align: center;
  border-radius: 5px;
}

h2.centerr{
  /**padding-top: 125px; **/
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
}

p.boxp{
  padding-left: 5px;
  padding-right: 5px;
}